---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$headline-font-family: Cinzel, Georgia, serif;

$spacing-unit:     30px;

$text-color:       #f8f8f2;
$text-color-dark: #070f19;
$background-color: #070f19;
$background-color-light: #202830;
$brand-color:      #4A90E2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin button-bg($bg) {
  background: $bg;
  border-color: $bg;
  &:hover {
    background: darken($bg, 10%);
    border-color: darken($bg, 10%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
    border-color:darken($bg,25%);
  }
}

/* ==========================================================================
     Table of Contents
     ========================================================================== */

/*

        0.  Normalize
        1.  Icons
        2.  General
        3.  Utilities
        4.  General
        5.  Single Post
        6.  Tag Archive
        7.  Read Next
        8.  Third Party Elements
        9.  Pagination
        10.  Footer
        11. Media Queries (Tablet)
        12. Media Queries (Mobile)
        13. Animations

*/

/* ==========================================================================
     0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
     ========================================================================== */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

footer,
header,
main,
nav,
section {
    display: block;
}

html {
    font-family: "Open Sans", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

/* ==========================================================================
     1. Icons - Sets up the icon font and respective classes
     ========================================================================== */

/* Import the font file with the icons in it */

@font-face {
    font-family: "casper-icons";
    src: url("../fonts/casper-icons.eot?v=1");
    src: url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff?v=1") format("woff"), url("../fonts/casper-icons.ttf?v=1") format("truetype"), url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */

[class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: relative;
    bottom: 7px;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
     content of the :before pseudo element. Like a boss. */

.icon-arrow-left:before {
    content: "\f605";
}

/*
        IMPORTANT: When making any changes to the icon font, be sure to increment
        the version number by 1 in the @font-face rule. `?v=1` becomes `?v=2`
        This forces browsers to download the new font file.
*/

/* ==========================================================================
     2. General - Setting up some base styles
     ========================================================================== */

html {
    height: 100%;
    max-height: 100%;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    max-height: 100%;
    font-size: 1rem;
    line-height: 1.6875;
    color: $text-color;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}

::-moz-selection {
    background: #D6EDFF;
}

::selection {
    background: #D6EDFF;
}

h1,
h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: $text-color;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    font-family: $headline-font-family;
    text-rendering: geometricPrecision;
}

h1 {
    font-size: 2rem;
    text-indent: -3px;
}


h2 {
    font-size: 1.5rem;
    color: #4A90E2;
}

h3 {
    font-size: 1.25rem;
    margin-top: 3rem;
    color: #4A90E2;
}

h4 {
    color: #4A90E2;
    font-size: 1.25rem;
}

a {
    color: $brand-color;
    transition: color 0.3s ease;
}

a:hover {
    color: $text-color;
}

p {
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}

img {
    max-width:100%;
    border: 5px solid $background-color-light;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */

/* ==========================================================================
     3. Utilities - These things get used a lot
     ========================================================================== */

/* Clears shit */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* Hides shit */

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: auto;
}


/* Wraps the main content & footer */

.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: $background-color;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.page .site-footer {
    background: $background-color;
}

/* ==========================================================================
     4. General - The main styles for the the theme
     ========================================================================== */

.accent-text {
    color: $brand-color;
}

.light-text {
    color: $text-color;
}

.break-small {
    display:block;
}

.center-align {
    text-align: center;
}

.site-wrapper {overflow:hidden;}


.home-section.raiding, .site-footer {
    background: $background-color;
}

.home-section.raiding {
    background-image: linear-gradient(rgba(7,15,25,0.5) 0%,rgba(7,15,25,0.5) 100%),url('../images/shadowlands.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .post {
        padding: 10rem 0;
    }

    h2 {
        color: white;
    }
}
.home-section.raiding:before {
    content:"";
    display:block;
    background-image: url('../images/dark2.png');
    width: 2500px;
    height: 100px;
    background-size: contain;
    position: relative;
    bottom: 0;
    margin-bottom: -100px;
    transform: scaleY(-1);
}

.home-section.about,
.home-section.recruitment,
.home-section.progression {
    background: $background-color;
}

.home-section.about:before,
.home-section.recruitment:before,
.home-section.progression:before,
.page .page-content:before {
    content:"";
    display:block;
    background-image: url('../images/dark1.png');
    width: 2500px;
    height: 100px;
    background-size: contain;
    position: relative;
    top: -75px;
    margin-bottom: -100px;
}

.boss-images {
    text-align:center;
}

.boss-image-container {
    position: relative;
    margin:5px;
    display:inline-block;
    width:86px;
    vertical-align:top;
}

.boss-image {
    border:1px solid $brand-color;

}

.defeated {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='%234A90E2' stroke-width='3'/><path d='M0 0 L100 100 ' stroke='%234A90E2' stroke-width='3'/></svg>");
        background-repeat:no-repeat;
        background-position:center center;
        background-size: 100% 100%, auto;
        width: 82px;
        height:82px;
        left: 2px;
        position:absolute;
        z-index:20;
}

.boss-image-text {
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        line-height: 1.3;
}

.raid-instance {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.raid-image {
    width: 150px;
    height: 150px;
    background: $background-color;
    position: relative;
}

.raid-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 0;
    background: rgba(7, 15, 25, 0.5);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: opacity 1s;
    padding: 10px;
}

.meter-with-labels {
    display:none;
}

@media screen and (min-width:961px) {

    .meter-with-labels {
        display:block;
        flex: 1;
        position:relative;
        margin: 20px;
    }
}

.raid-meter-labels {
    position: absolute;
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 50px;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s;
}

span.raid-meter-label:nth-child(even) {
    bottom: 0px;
    position: relative;
    height: 80px;
    z-index: 10;
    padding-top: 60px;
}

span.raid-meter-label:nth-child(odd) {
    top: -30px;
    position: relative;
    height: 80px;
    z-index: 10;
    padding-bottom: 60px;
}
span.raid-meter-label {    
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.meter {     
    height: 30px;
    position: relative;
    background: $background-color-light;
    overflow: hidden;
    margin: 10px 0;
    outline: 5px solid $background-color-light;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: $brand-color;
    -webkit-animation: progressBar 3s ease-in-out;
            animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both;
            animation-fill-mode:both; 
}


.raid-instance:hover .raid-meter-labels {
    opacity: 0.4;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.progress-numbers {
    font-family: $headline-font-family;
    font-size: 2rem;
    margin-left: 20px;
    min-width: 135px;
}
.first-number {
    color: $brand-color;
    font-size: 4rem;
    font-weight: 600;
}

@media screen and (min-width:961px) {
    
    .progress-numbers {
        font-family: $headline-font-family;
        font-size: 1rem;
        margin-left:0;
        min-width: 70px;
    }

    .first-number {
        color: $brand-color;
        font-size: 2rem;
    }
}
/* Big cover image on the home page */

.vertical {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 2rem 0;
}

.main-header {
    // position: relative;
    width: 100%;
    text-align: center;
    // background: $background-color no-repeat center center;
    // background-size: cover;
    // overflow: hidden;
    // background-position: center;
    // background-image: linear-gradient(
    //     rgba(7, 15, 25, 0.45), 
    //     rgba(7, 15, 25, 0.45)
    //   ),url('../images/shadowlands.jpg');
}

.main-header .page-title, .main-header .page-description {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.page-header {
    position: relative;
    width: 100%;
    text-align: center;
    background: #070f19;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(0,0,0,.5) 0%, rgba(0,0,0,0.5) 100%),url(../images/shadowlands.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* Special styles when overlaid on an image*/


.main-header {
    position:relative;
    overflow:hidden;
}
.main-header:after{
    content:"";
    width:100%;
    height:120vh;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(7,15,25,0.22) 40%,rgba(7,15,25,1) 100%);

}
  .main-header:before {
    content:"";
    width:100%;
    height:120vh;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background:#1B2030 url('../images/sl-large2.jpg') 50% 0 no-repeat;
    background-size: auto 120vh;
    background-attachment:fixed;
    animation: grow 180s linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2;

}

@keyframes grow{
    0% { transform: scale(1) translateY(0%)}
    50% { transform: scale(1.2) translateY(-20vh)}
}


.default .main-header {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

.main-header .inner {
    width: 80%;
}

.main-nav {
    position: relative;
    padding: 35px 40px 0;
    margin: 0 0 30px 0;
}

.main-nav a {
    text-decoration: none;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */



.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 100px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */

.scroll-down:hover {
    color: $brand-color;
    -webkit-animation: none;
    animation: none;
}

.scroll-down:focus {
    outline:none;
}


@media screen and (max-height:659px) {
    .scroll-down {
        display:none;
    }
}

/* Put a semi-opaque radial gradient behind the icon to make it more visible
     on photos which happen to have a light background. */

/* Hide when there's no cover image or on page2+ */

/* Appears in the top left corner of your home page */

.blog-logo {
    display: block;
    background: none !important;
    /* Makes sure there is never a background */
    border: none !important;
    /* Makes sure there is never a border */
    text-transform: uppercase;
    line-height: 42px;
    font-weight: 700;
    font-size: 28px;
    font-family: $headline-font-family;
}

.logo-image {
    width:100px;
    border:none;
}

@media (min-width: 625px) {
    .blog-logo {
        float: left;
    }

    .nav-container {
        float: right;
    }
}

.menu-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    padding: 0 15px;
    opacity: 1;
    text-align: center;
    border: 1px solid transparent;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    transition: all 0.5s ease;
    font-family: "Open Sans", sans-serif;
    color: $text-color;
    font-weight: bold;
}

.special-nav-button {
    border-style: solid;
    border-width: 1px;
    border-color: $text-color;
}

.menu-button:before {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.menu-button:hover {
    background: $text-color;
    color: $text-color-dark;
    font-weight: bold;
}

.menu-button:focus {
    outline: 0;
}



/* The details of your blog. Defined in ghost/settings/ */

.page-title {
    margin: 10px 0 10px 0;
    color: $text-color;
}

@media screen and (min-width: 481px) {

    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3rem;
        font-weight:700;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }
}

.page-content {
    background: $background-color;
    padding-bottom:50px;
}

.page-description {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: $text-color;
    text-transform: uppercase;
}

@media (min-width: 481px) {
    .page-description {
        font-size: 1.3rem;
    }
}

/* Add subtle load-in animation for content on the home page */

/* Every post, on every page, gets this style on its <article> tag */

.post {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    word-wrap: break-word;
}

.post.post--small {
    max-width: 1000px;
}



.home__post-title {
    text-align: center;
    margin-bottom: 4rem;
}

.color-accent {
    color: $brand-color;
}

.typeform-share.button.gmih {
    cursor: pointer;
    color: $text-color-dark;
    font-weight: bold;
    display: block;
    margin: auto;
    float: none;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    transition: all 0.5s ease;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    @include button-bg($brand-color);
    width: 140px;
    margin-top: 4rem;
}

.typeform-share.button.gmih.header-button {
    margin-top: 5rem;
    margin-bottom:8rem;
}

.small-text {
    font-size:0.8rem;
}

.divider {
    margin: 3rem 0;
    border-color: rgba(255,255,255,0.3);
}

// Recruitment Icons

// Recruitment Icons

.recruitment-icons {
    padding:0;
    list-style-type:none;
    margin: 3rem 0;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: flex-start;
     align-items: flex-start;
     -webkit-justify-content: center;
     justify-content: center;
     flex-flow: row wrap;
}

.recruitment-container {
    background: rgba(0,0,0,0.5);
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    margin: auto;
    position:relative;
    padding-bottom: 50px;
}

.recruitment-icon {
    text-align:center;
    width: 100%;
    color: $brand-color;
    margin-bottom: 3rem;
    padding: 10px;
    align-self: stretch;
    display: flex;
}

.recruitment-icon.not-recruiting {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
}

.recruitment-icon:hover .recruitment-image {
    transform: scale(1.2) translateY(-20%);
}
@media (min-width: 480px) {
    .recruitment-icon {
        width: calc(100% / 2);
    }
}
@media (min-width: 768px) {
    .recruitment-icon {
        width: calc(100% / 4);
    }
}

@media (min-width: 1200px) {
    .recruitment-icon {
        width: calc(100% / 6);
    }
}

.recruitment-image-wrap {
    display:inline-block;
    padding: 20px;
}

.recruitment-image {
    border:none;
    transition: transform 0.4s ease;
}

.class {
    display:flex;
    flex-direction: column;
    line-height:1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    justify-content: flex-end;
    overflow:hidden;
}

.class__name {
    transform: translateY(0);
    transition: transform 0.4s ease;
}

.solo.class {
    margin-top: 12px;
}

.spec-list {
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;

    .spec {
        width: 25%;
        padding: 5px;
        max-width: 42px;
    }

    img {
        border: 1px solid $brand-color;
    }

    .spec--no img {
        border: 1px solid transparent;
        opacity: 0.5;
        filter: grayscale(1);
    }
}

.recruitment-icon:hover .spec-list {
    transform: none;
    opacity: 1;
}

.recruitment-icon:hover .class__name {
    transform: translateY(-100%);
}


// Application

.gmih-form-list {
    padding-left: 0;
    list-style-type:none;
}
.gmih-input {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 2px solid rgba(255,255,255,0.3);
    background: $background-color;
    padding: 10px;
    margin: 10px 0 40px;
    font-family: $base-font-family;
    color: $text-color;
}

.gmih-textarea {
    min-height: 200px;
}

.gmih-input:focus {
    outline: none;
    border-color: $brand-color;
}

.gmih-submit {
    cursor: pointer;
    color: $text-color-dark;
    font-weight: bold;
    display: block;
    margin: auto;
    float: none;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    transition: all 0.5s ease;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    @include button-bg($brand-color);
}

.thanks {
    text-align:center;
}

.gmih-submit__info {
    margin-top: 40px;
}

/* Table of Contents */

.on-this-page {
    font-size: 1.5rem;
    font-family: $headline-font-family;
    font-weight: 700;
    margin-bottom:0;
}

.on-this-page__list {
    margin-top: 0;
}

.on-this-page__list li {
    margin: 0.5rem 0;
}

/* ==========================================================================
     5. Single Post - When you click on an individual post
     ========================================================================== */

/* Stop elements, such as img wider than the post content, from
     creating horizontal scroll - slight hack due to imperfections
     with browser width % calculations and rounding */

/* Tweak the .post wrapper style */

/* Kill that stylish little circle that was on the border, too */

/* Keep images centered, and allow images wider than the main
     text column to break out. */

/* The author credit area after the post */

/* list of author links - location / url */

/* Create some space to the right for the share links */

/* Drop the share links in the space to the right.
     Doing it like this means it's easier for the author bio
     to be flexible at smaller screen sizes while the share
     links remain at a fixed width the whole time */

/* ==========================================================================
     6. Author profile
     ========================================================================== */

/* Add a little circle in the middle of the border-bottom */

/* Location, website, and link */

/* Turn off meta for page2+ to make room for extra
     pagination prev/next links */

/* ==========================================================================
     7. Read More - Next/Prev Post Links
     ========================================================================== */

/* Special styles for posts with no cover images */

/* if there are two posts without covers, put a border between them */

/* Correctly position site-footer when next to the .read-next container */

/* ==========================================================================
     8. Third Party Elements - Embeds from other services
     ========================================================================== */

/* Github */

/* Pastebin */

/* ==========================================================================
     9. Pagination - Tools to let you flick between pages
     ========================================================================== */

/* The main wrapper for our pagination links */

/* Push the previous/next links out to the left/right */

/* On page2+ make all the headers smaller */

/* On page2+ show extra pagination controls at the top of post list */

/* ==========================================================================
     10. Footer - The bottom of every page
     ========================================================================== */

.site-footer {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    font-size: 12px;
    flex: 1;
}

.site-footer__container {
    padding: 0rem 15px 3rem;
    position: relative;
}

.site-footer a {
    color: $brand-color;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    color: $text-color;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    float: right;
}

.page .copyright {
    color: $text-color;
}

/* ==========================================================================
     11. Media Queries - Smaller than 900px
     ========================================================================== */

@media only screen and (max-width: 900px) {
    .main-header {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
    }

}

/* ==========================================================================
     12. Media Queries - Smaller than 500px
     ========================================================================== */

@media only screen and (max-width: 500px) {

    .main-nav {
        padding: 5px;
    }

    .menu-button:hover {
        color: $text-color;
        border-color: $background-color;
        background: $background-color;
    }

    .inner {
        width: auto;
    }

    .post {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        padding: 4rem 0;
        line-height: 1.65em;
    }
}

.no-list {
    list-style-type:none;
    padding:0;
}

// Header Links

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@media only screen and (min-width: 501px) {
    .docs h2 {
        margin-left: -1.5rem;
    }
    @font-face {
        font-family: 'FontAwesome';
        src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
        src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .fa-link:before {
        content: "\f0c1";
    }
    /*
     * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
     * http://ben.balter.com/2014/03/13/pages-anchor-links/
     */
    .header-link {
        position: relative;
        right: 0.5rem;
        bottom: 2px;
        font-size: 1.5rem;
        color: $brand-color;
    }

    .header-link:hover {
        color: $brand-color;
    }

    #on-this-page .header-link {
        display:none;
    }
}

/* ==========================================================================
     13. Animations
     ========================================================================== */

/* Used to fade in title/desc on the home page */

/* Used to bounce .scroll-down on home page */

@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0) rotate(-90deg);
        transform: translateY(0) rotate(-90deg);
    }

    20% {
        -webkit-transform: translateY(-10px) rotate(-90deg);
        transform: translateY(-10px) rotate(-90deg);
    }

    30% {
        -webkit-transform: translateY(-5px) rotate(-90deg);
        transform: translateY(-5px) rotate(-90deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0) rotate(-90deg);
        transform: translateY(0) rotate(-90deg);
    }

    40% {
        -webkit-transform: translateY(-10px) rotate(-90deg);
        transform: translateY(-10px) rotate(-90deg);
    }

    60% {
        -webkit-transform: translateY(-5px) rotate(-90deg);
        transform: translateY(-5px) rotate(-90deg);
    }
}

/* ==========================================================================
     End of file. Animations should be the last thing here. Do not add stuff
     below this point, or it will probably fuck everything up.
     ========================================================================== */

     
.astrodivider {
    margin:100px auto;
    width:400px; 
    max-width: 100%;
    position:relative;
  }
  
  .astrodividermask { 
      overflow:hidden; height:20px; 
  }
  
  .astrodividermask:after { 
        content:''; 
        display:block; margin:-25px auto 0;
        width:100%; height:25px;  
          border-radius:125px / 12px;
         box-shadow:0 0 8px $brand-color;
  }
  .astrodivider span {
      width:50px; height:50px; 
      position:absolute; 
      bottom:100%; margin-bottom:-25px;
      left:50%; margin-left:-25px;
      border-radius:100%;
     box-shadow:0 2px 4px $brand-color;
      background:$background-color;
  }
  .astrodivider i {
      position:absolute;
      top:4px; bottom:4px;
      left:4px; right:4px;
      border-radius:100%;
      border:1px dashed $brand-color;
      text-align:center;
      line-height:40px;
      font-style:normal;
       color:$brand-color;
       padding: 5px;
  }

  .secret-audio {
      cursor:pointer;
  }

  // Mythic+ Leaderboard
  #gmih-leaderboard {
      padding: 0;
      margin: 0;
      list-style-type: none;
      min-height: 50vh;
  }

  .guild-run {
    background: rgba(255,255,255,0.2);
    padding: 5px;
    margin: 0 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &.guild-run--motherlode {
        background-image: url(../images/dungeons/the-motherlode.jpg);
    }

    &.guild-run--atal-dazar {
        background-image: url(../images/dungeons/ataldazar.jpg);
    }

    &.guild-run--freehold {
        background-image: url(../images/dungeons/freehold.jpg);
    }

    &.guild-run--kings-rest {
        background-image: url(../images/dungeons/kings-rest.jpg);
    }

    &.guild-run--junkyard {
        background-image: url(../images/dungeons/mechagon.jpg);
    }

    &.guild-run--workshop {
        background-image: url(../images/dungeons/mechagon.jpg);
    }

    &.guild-run--shrine {
        background-image: url(../images/dungeons/shrine-of-the-storm.jpg);
    }

    &.guild-run--siege {
        background-image: url(../images/dungeons/siege-of-boralus.jpg);
    }

    &.guild-run--temple {
        background-image: url(../images/dungeons/temple-of-sethraliss.jpg);
    }

    &.guild-run--underrot {
        background-image: url(../images/dungeons/the-underrot.jpg);
    }

    &.guild-run--waycrest-manor {
        background-image: url(../images/dungeons/waycrest-manor.jpg);
    }

    &.guild-run--tol-dagor {
        background-image: url(../images/dungeons/tol-dagor.jpg);
    }
  }

  .guild-run__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(7, 15, 25, 0.8);
    padding: 20px;
    flex-wrap: wrap;
  }

  .dungeon-details {
    width: 100%;
    @media (min-width: 800px) { 
        width: calc((100% / 3) - 10px);
    }
  }

  .dungeon-group {
    width: 100%;
    @media (min-width: 800px) { 
        width: calc((200% / 3) - 10px);
    }
  }

  .timer__stars {
    display: flex;
    width: 45px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;

    &:before {
        content: "Keystone Depleted";
        position: absolute;
        bottom: 100%;
        background: white;
        color: $background-color;
        padding: 5px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.05em;
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.4s ease;
        pointer-events: none;
        transform: translate(-50%, -25px);
        left: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        white-space: nowrap;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -26px);
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        transition: opacity 0.2s ease, transform 0.4s ease;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
    }

    &:hover {
        &:before {
            opacity: 1;
            transform: translate(-50%, -15px)
        }

        &:after {
            opacity: 1;
            transform: translate(-50%, -16px)
        }
    }

    svg {
        width: calc(100% / 3);
        fill: rgba(255,255,255,0.1);
    }

    &.one-star {
        &:before {
            content: "Keystone Upgraded +1"
        }
        svg:first-child {
            fill: #fccb88;
        }
    }

    &.two-stars {
        &:before {
            content: "Keystone Upgraded +2"
        }
        svg:first-child, svg:nth-child(2) {
            fill: #fccb88;
        }
    }

    &.three-stars {
        &:before {
            content: "Keystone Upgraded +3"
        }
        svg {
            fill: #fccb88;
        }
    }
}

.affixes {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 10px 0 0;


    li {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &:last-child {
            margin-right: 0;
        }

        span {    
            position: absolute;
            bottom: 100%;
            background: white;
            color: $background-color;
            padding: 5px;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.05em;
            opacity: 0;
            transition: opacity 0.2s ease, transform 0.4s ease;
            pointer-events: none;
            transform: translate(-50%, -25px);
            left: 50%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid white;
                pointer-events: none;
            }
        }

        &:hover span {
            opacity: 1;
            transform: translate(-50%, -15px);
        }
    }
    .awakened {
        background-image: url(../images/affixes/awakened.jpg);
    }
    .bolstering {
        background-image: url(../images/affixes/bolstering.jpg);
    }
    .bursting {
        background-image: url(../images/affixes/bursting.jpg);
    }
    .explosive {
        background-image: url(../images/affixes/explosive.jpg);
    }
    .fortified {
        background-image: url(../images/affixes/fortified.jpg);
    }
    .grievous {
        background-image: url(../images/affixes/grievous.jpg);
    }
    .necrotic {
        background-image: url(../images/affixes/necrotic.jpg);
    }
    .quaking {
        background-image: url(../images/affixes/quaking.jpg);
    }
    .raging {
        background-image: url(../images/affixes/raging.jpg);
    }
    .sanguine {
        background-image: url(../images/affixes/sanguine.jpg);
    }
    .skittish {
        background-image: url(../images/affixes/skittish.jpg);
    }
    .teeming {
        background-image: url(../images/affixes/teeming.jpg);
    }
    .tyrannical {
        background-image: url(../images/affixes/tyrannical.jpg);
    }
    .volcanic {
        background-image: url(../images/affixes/volcanic.jpg);
    }
}

.dungeon-group {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.dungeon-group-icon {
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}
.dungeon-group-icon:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.dungeon-group-icon--tank:before {
    background-image: url(../images/group/tank.png);
}

.dungeon-group-icon--healer:before {
    background-image: url(../images/group/healer.png);
}

.dungeon-group-icon--dps:before {
    background-image: url(../images/group/dps.png);
}

.docs .dungeon-name {
    color: white;
    font-family: $base-font-family;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 18px;
}
.dungeon-level {
    color: $brand-color;
    margin-right: 10px;
}

.dungeon-details__container {
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;

    .timer {
        display: flex;
        align-items: center;
        margin: 10px 20px 0 0;
    }

    .timer__time {
        margin-right: 20px;
        display: flex;
        line-height: 1;
        align-items: center;
        color: rgba(255,255,255,0.5);
        position: relative;

        &:hover {
            .duration-tooltip {
                opacity: 1;
                transform: translate(-50%, -15px);
            }
        }
    }

    .timer__time svg {
        fill: rgba(255,255,255,0.5);
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

}



.duration-tooltip {    
    position: absolute;
    bottom: 100%;
    background: white;
    color: $background-color;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.4s ease;
    pointer-events: none;
    transform: translate(-50%, -25px);
    left: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: nowrap;
    line-height: initial;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        pointer-events: none;
    }
}

.timestamp {    
    position: absolute;
    background: white;
    color: $background-color;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.4s ease;
    pointer-events: none;
    transform: translate(25px, -50%);
    left: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: nowrap;
    line-height: initial;
    top: 50%;

    &:after {
        content: "";
        position: absolute;
        left: -7px;
        transform: translate(0, -50%);
        width: 0; 
        top: 50%;
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid white;
        pointer-events: none;
    }
}

.date-information__container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;

    svg {
        fill: rgba(255, 255, 255, 0.5);
        width: 20px;
        height: 15px;
        margin-right: 5px;
    }
}

.date-information {
    position: relative;
    color: rgba(255,255,255,0.5);
    display: inline;
    &:hover {
        .timestamp {
            opacity: 1;
            transform: translate(15px, -50%);
        }
    }

}


@media (max-width: 800px) {
    .dungeon-name {
        text-align: center;
    }

    .dungeon-details__container, .date-information__container, .dungeon-group {
        justify-content: center;
    }
}

.leaderboard-description {
    background: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: -5rem;
    color: rgba(255,255,255,0.4);
    counter-reset: guildRun;
}

// counter
.guild-run {
    position: relative;
}
.guild-run:after {
    counter-increment: guildRun;
    content: counter(guildRun);
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
    line-height: 1;
    font-family: Cinzel;
    font-weight: bold;
}

.member--false {
    opacity: 0.6;
}
