---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F0F0F0;
$brand-color:      #4A90E2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;




/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Tag Archive
    7.  Read Next
    8.  Third Party Elements
    9.  Pagination
    10.  Footer
    11. Media Queries (Tablet)
    12. Media Queries (Mobile)
    13. Animations

*/

/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */

footer,
header,
main,
nav,
section {
  display: block;
}

html {
  font-family: "Merriweather", serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */

@font-face {
  font-family: "casper-icons";
  src: url("../fonts/casper-icons.eot?v=1");
  src: url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff?v=1") format("woff"), url("../fonts/casper-icons.ttf?v=1") format("truetype"), url("../fonts/casper-icons.svg?v=1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Apply these base styles to all icons */

[class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  position: relative;
  bottom: 7px;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */

.icon-arrow-left:before {
  content: "\f605";
}

/*
    IMPORTANT: When making any changes to the icon font, be sure to increment
    the version number by 1 in the @font-face rule. `?v=1` becomes `?v=2`
    This forces browsers to download the new font file.
*/

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
  height: 100%;
  max-height: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  line-height: 1.6875;
  color: #3A4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  background: #D6EDFF;
}

::selection {
  background: #D6EDFF;
}

h1,
h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #4A4A4A;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  text-indent: -3px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: #4A4A4A;
  transition: color 0.3s ease;
}

a:hover {
  color: #111;
}

p {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */

/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Clears shit */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* Hides shit */

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}


/* Wraps the main content & footer */

.site-wrapper {
  position: relative;
  z-index: 10;
  min-height: 100%;
  background: #2C2C2C;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */

.accent-text {
  color: #4A90E2;
}

.light-text {
  color: #F0F0F0;
}

.break-small {
  display:block;
}

@media (min-width:629px) {
  .break-small {
    display:inline;
  }
}

.center-align {
  text-align: center;
}

.home-section.about,
.home-section.recruitment {
  background: #F0F0F0;
}

.home-section.raiding {
  background: #2C2C2C;
}

/* Big cover image on the home page */

.vertical {
  margin: 7rem 0;
}

.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
  background-image: url('../images/background-image.jpg');
  background-position: 50% 28%;
}

.main-header .inner {
  width: 80%;
}

.main-nav {
  position: relative;
  padding: 35px 40px 0;
  margin: 0 0 30px 0;
}

.main-nav a {
  text-decoration: none;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */

.scroll-down {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -17px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */

.scroll-down:hover {
  color: #fff;
  -webkit-animation: none;
  animation: none;
}

/* Put a semi-opaque radial gradient behind the icon to make it more visible
   on photos which happen to have a light background. */

/* Hide when there's no cover image or on page2+ */

/* Appears in the top left corner of your home page */

.blog-logo {
  display: block;
  background: none !important;
  /* Makes sure there is never a background */
  border: none !important;
  /* Makes sure there is never a border */
  text-transform: uppercase;
  line-height: 42px;
  font-weight: 700;
  font-size: 28px;
  font-family: "Merriweather", serif;
}

@media (min-width: 400px) {
  .blog-logo {
    float: left;
  }

  .nav-container {
    float: right;
  }
}

.menu-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  opacity: 1;
  text-align: center;
  border: 1px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  font-weight: bold;
}

.forum-button {
  border-style: solid;
  border-width: 1px;
  border-color: #F0F0F0;
}

.menu-button:before {
  font-size: 12px;
  font-weight: bold;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.menu-button:hover {
  background: #fff;
  color: #2C2C2C;
  font-weight: bold;
}

.menu-button:focus {
  outline: 0;
}

/* Special styles when overlaid on an image*/

.main-nav.overlay {
  border: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

/* The details of your blog. Defined in ghost/settings/ */

.page-title {
  margin: 10px 0 10px 0;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Merriweather", serif;
  color: #4A90E2;
  text-transform: uppercase;
}

@media (min-width: 481px) {
  .page-title {
    font-size: 3rem;
  }
}

.page-content {
  background: $background-color;
}

.page-description {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

/* Add subtle load-in animation for content on the home page */

/* Every post, on every page, gets this style on its <article> tag */

.post {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: auto;
  padding: 5rem 0;
  word-wrap: break-word;
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */

.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #F0F0F0 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #4A90E2;
  box-shadow: #4A90E2 0 0 0 5px;
}



.home__post-title {
  text-align: center;
}

.typeform-share.button.gmih {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 140px;
  float: none;
  padding: 5px 15px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-family: "Open Sans", sans-serif;
  border-color: #4A90E2;
  color: #4A90E2;
  font-weight: bold;
  background: none;
  text-decoration: none;
}

.typeform-share.button.gmih:hover {
  background: #4A90E2;
  color: #2C2C2C;
  font-weight: bold;
}

.typeform-share.button.gmih.header-button {
  margin-top: 5rem;
  margin-bottom:5rem;
}

.small-text {
  font-size:0.8rem;
}

.divider {
  margin: 3rem 0;
}

/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */

/* Stop elements, such as img wider than the post content, from
   creating horizontal scroll - slight hack due to imperfections
   with browser width % calculations and rounding */

/* Tweak the .post wrapper style */

/* Kill that stylish little circle that was on the border, too */

/* Keep images centered, and allow images wider than the main
   text column to break out. */

/* The author credit area after the post */

/* list of author links - location / url */

/* Create some space to the right for the share links */

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */

/* ==========================================================================
   6. Author profile
   ========================================================================== */

/* Add a little circle in the middle of the border-bottom */

/* Location, website, and link */

/* Turn off meta for page2+ to make room for extra
   pagination prev/next links */

/* ==========================================================================
   7. Read More - Next/Prev Post Links
   ========================================================================== */

/* Special styles for posts with no cover images */

/* if there are two posts without covers, put a border between them */

/* Correctly position site-footer when next to the .read-next container */

/* ==========================================================================
   8. Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */

/* Pastebin */

/* ==========================================================================
   9. Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */

/* Push the previous/next links out to the left/right */

/* On page2+ make all the headers smaller */

/* On page2+ show extra pagination controls at the top of post list */

/* ==========================================================================
   10. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
  position: relative;
  padding: 1rem 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75em;
  color: #F0F0F0;
}

.site-footer a {
  color: #4A90E2;
  text-decoration: none;
  font-weight: bold;
}

.site-footer a:hover {
  border-bottom: #4A90E2 1px solid;
}

.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}

.copyright {
  display: block;
  float: left;
}

/* ==========================================================================
   11. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  .main-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
  }

  .scroll-down {
    display: none;
  }
}

/* ==========================================================================
   12. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

  .main-nav {
    padding: 5px;
  }

  .menu-button:hover {
    color: #2C2C2C;
    border-color: #F0F0F0;
    background: #F0F0F0;
  }

  .inner {
    width: auto;
    margin: 2rem auto;
  }

  .post {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    padding: 4rem 0;
    line-height: 1.65em;
  }
}

.no-list {
  list-style-type:none;
  padding:0;
}

// Header Links

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

.docs h2 {
  margin-left: -1.5rem;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-link:before {
  content: "\f0c1";
}
/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  right: 0.5rem;
  bottom: 2px;
  font-size: 1.5rem;
  color: #4A90E2;
}

.header-link:hover {
  color: #4A4A4A;
}

/* ==========================================================================
   13. Animations
   ========================================================================== */

/* Used to fade in title/desc on the home page */

/* Used to bounce .scroll-down on home page */

@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }

  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }

  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }

  40% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }

  60% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}

/* ==========================================================================
   End of file. Animations should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */