<body class="{{ page.layout }}">

  <div class="site-wrapper">
    <header class="main-header background-image">
      <nav class="main-nav overlay clearfix">
        <a href="http://gmihguild.com" class="blog-logo"><span class="light-text">GM</span><span class="accent-text">iH</span></a>
        <div class="nav-container">
          <a href="../about/" class="menu-button">About</a>
          <a href="../raiding/" class="menu-button">Raiding</a>
          <a href="https://www.warcraftlogs.com/guilds/127818" class="menu-button">Logs</a>
          <a href="https://discordapp.com/invite/HB56KdT" class="menu-button">Discord</a>
          <a href="../apply/" class="menu-button special-nav-button">Apply</a>
        </div>
      </nav>
      <div class="vertical">
        <div class="main-header-content inner">
        {% if page.url == "/" %}
          <h1 class="page-title"><span class="light-text">G<span class="small-caps">reat</span> M<span class="small-caps">oments</span></span> <span class="accent-text break-small"><span class="small-caps">in</span> H<span class="small-caps">istory</span></span></h1>
          <h2 class="page-description">Proudmoore - US</h2>
          <a class="typeform-share button gmih header-button" href="http://forums.gmihguild.com/recruiting/create_apply.php?gid=505955">Apply Now</a>
        </div>
      </div>
        <a href="#content" data-offset="-45" class="scroll-down icon-arrow-left"><span class="hidden">Scroll Down</span></a>
        {% else %}
          <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
    </header>

